################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/stage
/RomVaultX/obj/Debug
/RomVaultX.v12.suo
/packages
/RomVaultX/bin/debug
/RomVaultX/obj/x64/Debug
/.vs/RomVaultX/v14/.suo
