################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/**
/.vs/RomVaultX/v14/
/.vs/RomVaultX/v15/
/packages
/RomVaultX/bin/
/RomVaultX/obj/
/stage/